# This workflow will install Python dependencies, run tests and lint with a variety of Python versions
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Test

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    name: os=${{ matrix.os }}, py=${{ matrix.python-version }}, np=${{ matrix.numpy-version }}, deps=${{ matrix.dependency-set }}

    strategy:
      matrix:
        python-version: ['3.11', '3.12', '3.13']
        numpy-version: ['1.25', '2.1']
        dependency-set: ["minimal", "optional"]
        os: ["ubuntu-latest"]
        include:
          - python-version: '3.11'
            numpy-version: '1.25'
            dependency-set: 'optional'
            os: 'macos-latest'
          - python-version: '3.13'
            numpy-version: '2.1'
            dependency-set: 'optional'
            os: 'macos-latest'
          - python-version: '3.11'
            numpy-version: '1.25'
            dependency-set: 'optional'
            os: 'windows-latest'
          - python-version: '3.13'
            numpy-version: '2.1'
            dependency-set: 'optional'
            os: 'windows-latest'
    runs-on: ${{ matrix.os }}

    steps:
    - uses: actions/checkout@v4
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}
        cache: 'pip'
    - name: Install Hatch
      run: |
        python -m pip install --upgrade pip
        pip install hatch
    - name: Run Tests
      run: |
        hatch run test.py${{ matrix.python-version }}:test-cov
    - name: Upload coverage
      uses: codecov/codecov-action@v5
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
        verbose: true # optional (default = false)

  doctests:
    name: doctests
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0 # required for hatch version discovery, which is needed for numcodecs.zarr3
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.11'
        cache: 'pip'
    - name: Install Hatch
      run: |
        python -m pip install --upgrade pip
        pip install hatch
    - name: Run Tests
      run: |
        hatch run docs:test
